@media(min-width:320px){
	.port-col{ 
	width:100%;
	padding:10px;
	}
	.container h1{
	font-size:1.8rem;
	}
}

/*tab view */
@media(min-width:720px){
	.port-col{ 
	width:50%;
	padding:10px;
	}
	.container h1{
	font-size:2.2rem;
	}
}

/*desktop view*/
@media(min-width:960px){
	.port-col{ 
	width:33.33%;
	padding:10px;
	}
	.container h1{
	font-size:2.5rem;
	}
}